body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* Left section */
.left {
    width: 40%;
    background: linear-gradient(to bottom, #6fd3c7, #8bd9a8);
    color: #333;
    text-align: center;
    padding-top: 150px;
}

.left h1 {
    font-size: 40px;
}

.left h2 {
    font-size: 30px;
    color: #3b6dd8;
}

/* Right section */
.right {
    width: 60%;
    background-color: #2b2b2b;
    color: white;
    padding: 50px;
}

.right h1 {
    color: #caa472;
}

/* Image styling */
.right img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
}

.right p {
    font-size: 16px;
    line-height: 1.6;
}